nav {
margin-left: 100px;

}
p{
    margin-bottom: 0;
}
.chon button{
    padding: 10px 50px;
}

.background_baitap{
    background-color: rgb(240, 153, 174);
    padding-bottom: 20px;
    margin-top: 20px;
}
.background_baitap h2{
    text-align: center;
    background-color: rgb(194, 20, 75);
    color: rgba(245, 245, 245,1);
}
label{
    font-weight: 500;
}
